        <div class="upcoming-container">
            {{ $today := now }} {{ $workshops := where .Site.RegularPages
            "Section" "workshops" }} {{ $upcoming := slice }} {{ range
            $workshops }} {{ $endDate := time .Params.ko.endDate }} {{ if ge
            $endDate $today }} {{ $upcoming = $upcoming | append . }} {{ end }}
            {{ end }} {{ range sort $upcoming ".Params.ko.startDate" "asc" }}
            <div class="upcoming-item">
                <div class="top">
                    <div data-lang="ko">
                        <div class="categories">
                            {{ range .Params.ko.category }}
                            <span class="category">{{ . }}</span>
                            {{ end }}
                        </div>
                        <div class="title">
                            <b>{{ .Params.ko.title }}</b>
                        </div>
                        <div>{{ .Params.ko.description | markdownify }}</div>
                    </div>
                    <div data-lang="en">
                        <div class="categories">
                            {{ range .Params.en.category }}
                            <span class="category">{{ . }}</span>
                            {{ end }}
                        </div>
                        <div class="title">
                            <b>{{ .Params.en.title }}</b>
                        </div>
                        <div>{{ .Params.en.description | markdownify }}</div>
                    </div>
                </div>
                <div
                    class="bottom {{ if .Params.ko.applicationLink }} apply{{ end }}"
                >
                    <div class="left">
                        <div data-lang="ko">
                            <div class="master">
                                {{ if .Params.ko.master }} 마스터: {{
                                .Params.ko.master }} {{ else }} 마스터: 미정 {{
                                end }}
                            </div>
                            <div class="date">
                                일정 : {{ time .Params.ko.startDate |
                                time.Format "2006. 01. 02" }} &mdash; {{ time
                                .Params.ko.endDate | time.Format "01. 02" }} {{
                                if .Params.ko.startTime }}, {{
                                .Params.ko.startTime }} &mdash; {{
                                .Params.ko.endTime }} {{ end }}
                            </div>
                            <div class="capacity">
                                모집인원: {{ .Params.ko.capacity }}명
                            </div>
                            {{ if .Params.ko.note }}
                            <br />
                            <div class="note">※ {{ .Params.ko.note }}</div>
                            {{ end }}
                        </div>
                        <div data-lang="en">
                            <div class="master">
                                {{ if .Params.en.master }} Master: {{
                                .Params.en.master }} {{ else }} Master: TBA {{
                                end }}
                            </div>
                            <div class="date">
                                Date & Time : {{ time .Params.en.startDate |
                                time.Format "2006. 01. 02" }} &mdash; {{ time
                                .Params.en.endDate | time.Format "01. 02" }} {{
                                if .Params.en.startTime }}, {{
                                .Params.en.startTime }} &mdash; {{
                                .Params.en.endTime }} {{ end }}
                            </div>
                            <div class="capacity">
                                Capacity: {{ .Params.en.capacity }}
                            </div>
                            {{ if .Params.en.note }}
                            <br />
                            <div class="note">※ {{ .Params.en.note }}</div>
                            {{ end }}
                        </div>
                    </div>
                    {{ if .Params.ko.applicationLink }}
                    <div class="right">
                        <a
                            class="apply"
                            data-lang="ko"
                            target="_blank"
                            href="{{ .Params.ko.applicationLink }}"
                        >
                            신청
                        </a>
                        <a
                            class="apply"
                            data-lang="en"
                            target="_blank"
                            href="{{ .Params.en.applicationLink }}"
                        >
                            Apply
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
